.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	position: relative;
}

.icon > *::before,
.icon > *::after {
	display: block;
	position: absolute;
	content: " ";
}

.icon .chat {
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	border: solid 0.05em var(--color-text);
	background-color: var(--color-background);
}

.icon .chat::before {
	width: 0.25em;
	height: 0.25em;
	bottom: 0;
	right: 0;
	border-bottom: solid 0.05em var(--color-text);
	border-right: solid 0.05em var(--color-text);
	background-color: var(--color-background);
	transform: skew(25deg, 25deg);
}

.icon .chevron-right {
	width: 0.7em;
	height: 0.7em;
	margin: 0.15em 0.3em 0.15em 0;
	border-bottom: solid 0.05em var(--color-text);
	border-right: solid 0.05em var(--color-text);
	transform: rotate(-45deg);
}
