app-banner {
	padding: var(--base-padding);
	color: var(--color-white);
	background-color: var(--color-primary);
	min-height: 3em;
}

stream-list {
	padding: calc(var(--base-padding) / 2);
	overflow: auto;
	overflow-x: none;
	overflow-y: auto;
}

stream-card {
	padding: calc(var(--base-padding) / 2);
	border: solid calc(var(--base-padding) / 2) var(--color-background);
	background-color: var(--color-secondary);
}

.img-aspect-16-9 {
	position: relative;
	width: 100%;
}
.img-aspect-16-9::before {
	display: block;
	content: " ";
	padding-bottom: 56.25%;
}
.img-aspect-16-9 > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 37em){
	.img-aspect-16-9-smol-only {
		position: relative;
		width: 100%;
	}
	.img-aspect-16-9-smol-only::before {
		display: block;
		content: " ";
		padding-bottom: 56.25%;
	}
	.img-aspect-16-9-smol-only > * {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

.side-drawer-handle {
	background-color: var(--color-background);
	border-top-left-radius: var(--base-border-radius);
	border-bottom-left-radius: var(--base-border-radius);
	padding: calc(var(--base-padding) / 2);
	opacity: 0.6;

	position: absolute;
	top: 50%;
	right:100%;
	transform: translate(0, -50%);
}
.side-drawer-handle:hover {
	opacity: 1;
}


rolling-chat {
	overflow: auto;
	overflow-x: none;
	overflow-y: auto;
}

.chat-profile-image {
	width: 1em;
	height: 1em;
	margin-right: var(--base-padding);
}

chat-message {
	margin: var(--base-padding);
	border-top: solid 1px var(--color-secondary);
	padding-top: var(--base-padding);
}

chat-display-text {
	margin-left: calc(1em + var(--base-padding));
}
