app-banner {
	padding: var(--base-padding);
	color: var(--color-white);
	background-color: var(--color-primary);
}

stream-list {
	padding: var(--base-padding);
	overflow: auto;
	overflow-x: none;
	overflow-y: auto;
}
