<div class="grow relative flex-mid">
	<div class="flex img-aspect-16-9-smol-only animate col-12-12-smol {: +this.app.chat.open ? 'col-8-12-mid' : 'col-12-12-mid' :}|{chat.open}|">
		<iframe
			class="grow animate col-12-12-smol {: +this.app.chat.open ? 'col-8-12-mid' : 'col-12-12-mid' :}|{chat.open}|"
			src="https://www.youtube.com/embed/{:this.app.videoId:}|{videoId}|?autoplay=1"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		></iframe>
	</div>
	<div class="flex animate relative col-12-12-smol {: +this.app.chat.open ? 'col-4-12-mid' : 'col-0-12-mid' :}|{chat.open}|">

		<!-- The handle that opens the chat drawer -->
		<div class="side-drawer-handle text-center {: +this.app.chat.open && 'hidden-state' :}|{chat.open}|" onclick="this.app.chat.open = !+this.app.chat.open">
			<div class="icon">
				<div class="chat">

				</div>
			</div>
			<span>Chats</span>
		</div>

		<!-- The actual chat UI -->
		<div class="grow flex column {: !+this.app.chat.open && 'hidden-state' :}|{chat.open}|">
			<!-- Chat top menu UI stuff -->
			<div style="padding: var(--base-padding); min-height: 2em;" class="hide flex-mid vcenter" onclick="this.app.chat.open = !+this.app.chat.open">
				<span>Close Chat</span>
				<div class="icon">
					<div class="chevron-right"></div>
				</div>
			</div>

			<!-- The actual chat messages and stuff -->
			<rolling-chat class="grow" data-script="{:this.app.scrollingChat = this:}">
				<!-- foreach: key("messageIndex").in(this.app.chat.messages) -->
				<chat-message>
					<div class="flex">
						<img class="chat-profile-image" src="{:this.app.chat.messages[this.messageIndex].authorDetails.profileImageUrl:}"/>
						<strong>{:this.app.chat.messages[this.messageIndex].authorDetails.displayName:}</strong>
					</div>
					<chat-display-text>
						{:this.app.chat.messages[this.messageIndex].snippet.displayMessage:}
					</chat-display-text>
				</chat-message>
				<!-- foreach: key.end() -->
			</rolling-chat>

			<div class="flex vcenter" style="min-height: calc(
				var(--base-padding) * 2 + {: (this.firstElementChild.firstElementChild.scrollHeight || 16) + 1:}|{chat.input}|px
			)">
				<div class="grow chat-input-wrap">
					<textarea name="chat.input" rows="1" style="min-height: {:this.app.chat.input ? this.scrollHeight + 1 : 1:}|{chat.input}|px" onkeyup="event.keyCode === 13 && this.app.sendMessage()"></textarea>
				</div>
				<div class="icon" style="margin: var(--base-padding);" onclick="this.app.sendMessage()">
					<div class="send-message"></div>
				</div>
			</div>
		</div>
	</div>
</div>
